<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="text-center">
    <header th:insert="header.html"> </header>
    <h2>Authors</h2>
    <a th:href ="@{/addAuthor}" class="btn btn-outline-primary"> Add New Author </a>
    <table class="table">
        <tr>
            <th scope="col"> Name </th>
            <th scope="col"> Description </th>
            <th scope="col"> Actions </th>
        </tr>
        <tr th:each="author: ${authors}">
            <td th:text="${author.authorName}"></td>
            <td th:text="${author.authorDescription}"></td>
            <td> <a th:href="@{/updateAuthor/{id}(id=${author.authorId})}"  class="btn btn-outline-primary">Update</a>
                <a th:href="@{/deleteAuthor/{id}(id=${author.authorId})}"  class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>