<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="text-center">
    <header th:insert="header.html"> </header>
    <h2 style="margin:10px;">Publishers</h2>
    <a th:href ="@{/addPublisher}" class="btn btn-outline-primary"> Add New Publisher </a>
    <table style="margin-top: 20px;" class="table table-hover">
        <tr>
            <th scope="col"> Name </th>
            <th scope="col"> Description </th>
            <th scope="col"> Actions </th>
        </tr>
        <tr th:each="publisher: ${publishers}">
            <td th:text="${publisher.publisherName}"></td>
            <td th:text="${publisher.publisherDescription}"></td>
            <td> <a th:href="@{/updatePublisher/{id}(id=${publisher.publisherId})}"  class="btn btn-outline-primary">Update</a>
                <a th:href="@{/deletePublisher/{id}(id=${publisher.publisherId})}"  class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>